<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matheus Fabião - Desenvolvedor Python Full-Stack">
    <meta name="description" content="Portfólio profissional de Matheus Fabião, desenvolvedor Python especializado em desenvolvimento web, inteligência artificial, ciência de dados, automação e web scraping. Engenheiro de software com experiência em soluções tecnológicas inovadoras.">
    <meta name="keywords" content="desenvolvedor python, engenheiro de software, desenvolvimento web, inteligência artificial, machine learning, análise de dados,, ciência de dados, engenharia de dados, big data, automação, web scraping, backend, API REST, Django, Flask, FastAPI, portfolio, Matheus Fabião">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    {% block javascript %}{% endblock %}
</body>
</html>